* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #FFEDD5;
    font-family: 'Poppins', sans-serif; 
    width: 100%;
    height: 100%;
       
}
.container {
    width: 100%;
    height: 100%;
    background-image: url(tapioca5.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover;
    ; /*Css Opera*/   
    
}

.cardapio {
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #ffffff10;
    border: 2px solid #ffffff30;

    backdrop-filter: blur(10px);
}

ul {
    list-style: none;
}

h1, h2, h3, .price {
    font-family: 'Poppins', serif;
    text-transform: uppercase;
    color: #2D2C2A;
}

header {
    padding: 32px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}

header h1 span {
    color: #995000;   
}

header p {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.70);
    
}

header, section {
    max-width: 300px;
    margin: 0 auto;
}

section {
    margin-bottom: 24px;
}

section h2 {
    background-color: #fadcb3;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
    border-radius: 10px;

}

ul li {
    margin-bottom: 16px;
    display: flex;
}

li .details {
    max-width: 240px;
}

.details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}

.details p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    line-height: 21px;
}



